<!DOCTYPE html>{% load static %}

<html>

<head>
    <title>ISeaTeL Cup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap CSS & JS -->
    <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/assets/css/bootswatch.min.css">
    <!--link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script-->
    <script src={% static "js/jquery-1.10.2.min.js"%}></script>
    <script src={% static "js/bootstrap.min.js"%}></script>
    <script src={% static "js/bootstrap-table.js"%}></script>
    <script src={% static "js/bootswatch.js"%}></script>

    <!-- Magnific Popup core JS & CSS -->
    <link rel="stylesheet" href={% static "css/magnific-popup.css"%}>
    <link rel="stylesheet" href={% static "css/mfp-fade.css"%}>
    <script src={% static "js/jquery.magnific-popup.js"%}></script>
    <script src={% static "js/popup-setting.js"%}></script>

    <!-- Include Bootstrap-select CSS, JS -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>

    <style type="text/css">
    /* TODO */
    
    .form-group {
        margin: 2% !important;
    }
    h2 {
        margin: 2% !important;
    }
    .container-fluid {
        margin-top: 5%;
    }
    </style>

    <script>
    /* TODO */
    </script>


</head>

<body>
    <!-- login popup -->
    <div id="login-popup" class="mfp-hide">
        <div class="jumbotron">
            <h2>Login</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="inputSmall">Account</label>
                    <input class="form-control input-sm" type="text" id="inputSmall" placeholder="Account">
                </div>
                <div class="form-group">
                    <label class="control-label" for="inputSmall">Password</label>
                    <input class="form-control input-sm" type="text" id="inputSmall" placeholder="Password">
                    <a href="#">forget password?</a>
                </div>

                <div class="modal-footer">
                    <br>
                    <div style="display:inline;float:left;text-align:left">Don't have an account?
                        <br>You can <a href='#'> register here</a>.</div>
                    <div style="display:inline;float:right;">
                        <button type="button" class="btn btn-primary" style="text-align:right;">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- clarification popup -->
    <div id="clarification-popup" class="mfp-hide">
        <script type="text/javascript">
        $(function() {
            $('#questionText').keyup(function() {
                $('#clarSubmit').prop("disabled", !($(this).val().replace(/ /g,'') != ''));
            })
        })
        </script>
        <div class="jumbotron">
            <h2>Send Clarification</h2>
            <form class="form-horizontal" action="" method="post">{% csrf_token %}
                <input type='hidden' name='token' value={{token}}>
                <div class="form-group">
                    <div class='row'>
                        <label class="control-label col-md-2">Name</label>
                        <div class='col-md-10'>
                            <input class="form-control" type="text" id="inputSmall" name='asker' placeholder="Anonymous">
                        </div>
                    </div>
                    <div class='row'>
                        <label class="col-md-2 control-label">Question</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="3" id="questionText" name='question' placeholder="Your question! Meow~~"></textarea>
                            <span class="help-block">The more specific, the better.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="display:inline;float:right;">
                        <button type="submit" id='clarSubmit' disabled class="btn btn-primary" style="text-align:right;">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- navbar container-->
    <div class="navbar navbar-fixed-top navbar-default" id='navbar'>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src={% static "img/ISeaTeLLogo.png"%} height='200%' style='margin-top:-10px'>
            </a>
        </div>

        <div class="navbar-collapse collapse navbar-inverse-collapse">

            <ul class="nav navbar-nav">
                <!-- volume -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contests <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">contest 1 (11/29)</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
				<!--
                <li style='margin-right:10px'>
                    <a href="#login-popup" class="open-popup-link"><b>Login</b></a>
                </li>
				-->
            </ul>


        </div>
    </div>
    <div class='container-fluid'>
        <div class="jumbotron">
            <h1>ISeaTeL Cup</h1>
            <p>This is a simple and fun contest for beginners.</p>
            <!--<p><a class="btn btn-primary btn-lg">Learn more</a></p>-->
        </div>
        <!-- bulletin board -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Bulletin Board</h3>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class='col-md-2'>Title</th>
                        <th class='col-md-8'>Content</th>
                        <th class='col-md-2'>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in bulletin %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.content|safe|linebreaks }}</td>
                        <td>{{ article.time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- clarification -->
        {%include "clarification.html"%}

        <footer class='bs-docs-footer-links muted container-fluid'>
            <div class='row'>
                <div class='col-lg-4'>
                    <p>© ISeaTeL Cup 2014</p>
                </div>
                <div class='col-lg-2 col-lg-offset-6'>
                    <p>Visited: {{hits}}</p>
                </div>
            </div>
        </footer>



</body>

</html>

</html>
