<!-- clarification popup -->
{%include 'popup_form.html' with title='Clarification' popup_id='clarification-popup' form=clarification_form to='' %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class='row'>
      <div class='col-md-4'>
        <h3 class="panel-title">Clarification</h3>
      </div>
      <div class="col-md-offset-7 col-md-1">
        <a href="#clarification-popup" class="open-popup-link  btn btn-danger" style="float:right">Send Clarification</a>
      </div>
    </div>
  </div>
  <div id='clarification_table'></div>
</div>
