<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th class='col-md-2'>Asker</th>
      <th class='col-md-4'>Question</th>
      <th class='col-md-4'>Reply</th>
      <th class='col-md-2'>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for clar in clarifications %}
    <tr>
      <td>{{ clar.asker }}</td>
      <td>{{ clar.question|linebreaks }}</td>
      <td>{{ clar.reply|linebreaks }}</td>
      <td>{{ clar.time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>