{%extends "base.html"%}
{%block body_block%}
{% load static %}
<!-- contest settings -->
<script src={%static "js/contestsettings.js"%}></script>
<div class="tabbable">
    <ul class="nav nav-tabs">
    <li class="active"><a id="p1" href="#pane1" data-toggle="tab">Bulletin</a></li>
    <li><a id="p2" href="#pane2" data-toggle="tab">Problems</a></li>
    <li><a id="p3" href="#pane3" data-toggle="tab">Scoreboard</a></li>
    <li><a id="p4" href="#pane4" data-toggle="tab">Clarification</a></li>
  </ul>
  <div class="tab-content">
    <div id="pane1" class="tab-pane active">
      {%include 'head.html'%}
    </div>
    <div id="pane2" class="tab-pane">
      {%include 'problem.html'%}
    </div>
    <div id="pane3" class="tab-pane">
      {%include 'scoreboard.html'%}
    </div>
    <div id="pane4" class="tab-pane">
      {%include 'clarification.html'%}
    </div>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->
{%endblock body_block%}
